body{
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, red, black);
    color: white;
}
header{
    background-color: #666262;
    padding: 10px 0;
    color: white;
    text-align: center;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}  
nav ul li a {
    color: white;
    text-decoration: none;
}
#blackwidow h2 {
    margin: 30px;
    padding: 20px;
    background-color: #976c6c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}