body{
    margin: 15px;
    height: 100vh;
    background: radial-gradient(circle, rgba(250, 59, 59, 0.973), rgba(46, 46, 46, 0.786));
    color: white;
}
p{
    text-align: justify;
}
header {
    background-color: #858181;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
footer {
    background-color: #858181;
    color: white;
    padding: 10px 0;
    text-align: center;
}
main h2{
    text-align: center;
    border-style:double;
}