body{
    margin: 0px;
    height: 100vh;
    background: radial-gradient(circle, rgba(239, 79, 79, 0.704), rgb(65, 63, 63, 0.705));
    color: white;
}
header {
    background-color: #858181;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
footer {
    background-color: #858181;
    color: white;
    padding: 10px 0;
    text-align: center;
}