body{
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, rgba(250, 59, 59, 0.973), rgba(46, 46, 46, 0.786));
    color: white
}
header{
    background-color: #858181;
    color: white;
    padding: 0% 10px;
    text-align: center;
}
nav ul{
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: none;
}
main h1{
    text-align: center;
    font-size: 20px;
}
main img{
    width:200px;
    height:300px;
    margin: 10px;
}
footer{
    background-color: #858181;
    color: white;
    padding: 10px 0;
    text-align: center;
}
#doctorstrange {
    margin:10px
}