body{
    margin:0;
    height:100ph;
    background-color: radial-gradient(circle, red, black);
}
header{
    background-color: #666262;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    padding: 0;
}   
nav ul li {
    display: inline;
    margin: 0 15px;
}   
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: none;
}
body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, red, black);
}